h2 {
    letter-spacing: 0.5px;
}

.marquee {
    position: relative;
    width: 100vw;
    max-width: 100%;
    height: 60vw;
    overflow-x: hidden;
}

.track {
    position: absolute;
    white-space: nowrap;
    will-change: transform;
    animation: marquee 80s linear infinite;
}

#construction {
    padding-top: 40px;
    text-align: center;
    letter-spacing: 2px;
    padding: 10px 30px;
    color: #c6c6c6;
    margin-bottom: 80px;
    cursor: pointer;
}

.underline-one {
    width: 60px;
    background: white;
    height: 1px;
    margin: -10px auto;
    margin-bottom: 40px;
}

.socials {
    margin: auto;
    width: 90%;
    max-width: 1100px;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 50px;
}

.social-link img {
    margin-top: 2px;
    width: 20px;
    display: inline;
}

.social-link h4 {
    margin: 1px;
    font-weight: 600;
}

a {
    text-decoration: none;
}

.social-link {
    border-radius: 10px;
    width: 250px;
    height: 50px;
    padding: 10px 30px;
    color: black;
    font-weight: 500;
    background-color: wheat;
    font-size: 1.2rem;
    transition: 0.2s;
}

.social-link:hover {
    background: whitesmoke;
    transition: 0.2s;
}

svg path {
    stroke-width: 1px;
    transition: 250ms all ease;
    width: 200px;
}

svg.arrow-link {
    width: 100px;
    height: 30px;
}

.card:hover path {
    d: path("M0 9.35772H50.9956L44.2001 2.29941L46.4134 0L57 11L46.4134 22L44.2001 19.7006L50.9956 12.6423H0V9.35772Z");
    d: "M0 9.35772H50.9956L44.2001 2.29941L46.4134 0L57 11L46.4134 22L44.2001 19.7006L50.9956 12.6423H0V9.35772Z";
}

.cards-section {
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    display: flex;
    border-radius: 15px;
    width: 500px;
    background: white;
    color: black;
    margin: 0px 20px;
    margin-bottom: 40px;
    padding-left: 40px;
    text-align: left;
    padding-bottom: 20px;
    transition: 0.2s;
    cursor: pointer;
}

.card img {
    margin-top: 40px;
    width: calc(100% - 40px);
    border-radius: 10px;
}

.card h4 {
    margin: 0;
}

.card .name {
    margin-top: 20px;
    font-weight: 800;
    margin-bottom: 0;
}

.card .designation {
    font-weight: 500;
    font-style: italic;
}

.card .description {
    padding: 20px 0px;
    width: calc(100% - 40px);
    font-weight: 500;
}

.card-in {
    display: flex;
    justify-content: space-between;
}

.svg-path {
    margin-top: 32px;
}

@keyframes marquee {
    from { transform: translateX(0); }
    to { transform: translateX(-50%); }
}

.img-back, .img-front {
    display: block;
    margin: auto;
    position: absolute;
    top: 10vh;
    left: 15vw;
    width: 70%;
    border-radius: 25px;
}

.img-back {
    filter: grayscale(100%) brightness(60%);
    z-index: -1;
}

.img-front {
    z-index: 1;
}

h1.landing-text {  
    text-align: center;
    position: absolute;
    top: 3vh;
    width: 100%;
    letter-spacing: 10px;
    font-size: 8rem;
}

h1.hollow {
    position: relative !important;
    top: 25vh !important;
    color: transparent;
    font-size: 3.6rem !important;
    color: #E5C88E;
    animation: scroll infinite 5s;
}

.arrow {
    position: absolute;
    left: 48%;
    width: 3%;
    top: 800px;
    z-index: 2;
    animation: 2s bounce infinite;
}

.strike {
    text-decoration: line-through;
    text-decoration-thickness: 3px;
    margin-bottom: 40px;
}

@media only screen and (max-width: 1500px) {
    .marquee {
        height: 70vw;
    }
}

@media only screen and (max-width: 1300px) {
    h1.landing-text {
        top: 3vh;
        letter-spacing: 10px;
        font-size: 6rem;
    }
    h1.hollow {
        top: 24vh !important;
        letter-spacing: 6px;
        font-size: 2rem !important;
    }
    .arrow {
        top: 650px;
    }
}

@media only screen and (max-width: 1000px) {
    h1.landing-text {
        top: 6vh;
        letter-spacing: 10px;
        font-size: 3.5rem;
    }
    h1.hollow {
        top: 18vh !important;
        letter-spacing: 5px;
        font-size: 1.4rem !important;
    }
    .arrow {
        left: 50%;
        width: 2.5%;
        top: 450px;
    }
    .socials {
        flex-direction: column;
    }
    .social-link {
        margin: auto;
        margin-bottom: 30px;
    }
    .card {
        margin: 0px 15px;
        margin-bottom: 40px;
        padding-left: 25px;
        padding-bottom: 5px;
    }
    .card img {
        margin-top: 25px;
        width: calc(100% - 25px);
    }
    .card .description {
        width: calc(100% - 25px);
    }
    .svg-path {
        margin-bottom: 10px;
    }
    svg.arrow-link {
        width: 75px;
    }
}

@media only screen and (max-width: 700px) {
    .marquee {
        height: 90vw;
    }
    h1.landing-text {
        top: 8vh;
        letter-spacing: 6px;
        font-size: 2rem;
    }
    h1.hollow {
        top: 15vh !important;
        letter-spacing: 5px;
        font-size: 1.1rem !important;
    }
    .arrow {
        width: 3%;
        bottom: 35%;
    }
    .arrow {
        top: 300px;
    }
}

@media only screen and (max-width: 400px) {
    h1.landing-text {
        top: 8vh;
        letter-spacing: 6px;
        font-size: 1.5rem;
    }
    h1.hollow {
        top: 13vh !important;
        letter-spacing: 5px;
        font-size: 0.8rem !important;
    }
    .arrow {
        top: 300px;
    }
}

