* {
    font-family: Inter, sans-serif;
}

h1, h2, h3, h4 {
    font-family: 'Poppins', sans-serif;
}

body {
    background: #151515;
    color: white;
    text-align: center;
}

.light {
    color: #3e3e3e;
}

.body {
    padding-top: 100px;
}