* {
    font-family: Inter, sans-serif;
}

.light {
    color: #3e3e3e;
}

.body {
    padding-top: 100px;
}

@keyframes rotate {
    from {
        rotate: 0deg;
    }
    50% {
        scale: 1.5 2;
    }
    to {
        rotate: 360deg;
    }
}

#blob {
    background-color: white;
    height: 250px;
    aspect-ratio: 1;
    position: fixed;
    left: 50%;
    top: 50%;
    translate: -50% -50%;
    border-radius: 50%;
    background: linear-gradient(
        to bottom,
        blue,
        red
    );
    animation: rotate 4s infinite;
    z-index: -2;
}

#blur {
    top: 0;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: -1;
    backdrop-filter: blur(225px);
}